*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.menu {
    background: url(../img/mahdi\ sub\ menu\ bg1.jpg) ;
    background-size: cover;
background-position: top;
}




.breadcrumb-item a{
    text-decoration: none;
    color: #3d5772;
}

.breadcrumb-item:hover a{
    color: #3f5f81;
    text-shadow: 0 0 5px rgb(70, 9, 70);
}



.banner{
    background-image: url(../image-hajar/banner-color.png);
    background-size: cover;
    background-position: center;
}

.bg{
    background-color: #f95738;
    color: #dfddca !important;

}

.pic{
    transition: all .5s;
}

.pic:hover{
    transform: scale(.80);
}

#section2{
    padding: 2% 0;
}

.sh{
    text-shadow: 0 0 5px rgba(62, 5, 196, 0.651);
}

.btn{
    background-color: #e7e71c;
    transition: all .2s;
}

.btn:hover{
    background-color: #f3d877;
    transform: scale(.95);
}

.lorem::first-letter{
    color: red;
    font-size: large;
}

.lorem::selection{
    background-color: aliceblue;
    color: red;
}

